# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
WebGLBuild_Winston/
UnityGenerated/
Library/
Assets/AssetStoreTools*
UserSettings/
Logs/
# ===================================== #
# Visual Studio / MonoDevelogitp generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
